html, body, #root {
  position: absolute; width: 100% !important; height: 100% !important;
}

@font-face {
  font-family: 'IdealSans';
  font-style: normal;
  font-weight: 400;
  src: local('IdealSans'), url(./fonts/IdealSans-Book.otf);
}

@font-face {
  font-family: 'IdealSans';
  font-weight: 700;
  src: local('IdealSans'), url(./fonts/IdealSans-Semibold.otf);
}

@font-face {
  font-family: 'IdealSans';
  font-weight: 300;
  src: local('IdealSans'), url(./fonts/IdealSans-Light.otf);
}

@font-face {
  font-family: 'IdealSans';
  font-weight: 200;
  src: local('IdealSans'), url(./fonts/IdealSans-ExtraLight.otf);
}

.App {
  font-family: 'IdealSans';
  font-weight: 300;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: relative;
  background-image: url(http://www.wilsonben.co.uk/wp-content/uploads/2016/03/Website-Header-01.png);
  background-position: center bottom;
  display: block;
  height: 20%;
  padding: 1em 2em;
  color: white;
}

.App-title {
  position: absolute;
  top: 10;
  left: 10;
  font-size: 1.5em;
}

.App-Nav{
  float: right;
}

.btn-margin{
  font-family: 'IdealSans';
  text-decoration: none;
  display: inline-block;
  color: white;
  letter-spacing: 1.5px;
  padding: 1em;
  font-size: 1.25em;
  font-weight: 200;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.guest-content {
  padding: 1em 0;
}

.container {
  overflow: hidden;
}

.footer {
  background-color: #222;
  min-height: 35%;
  color: white;
}

.hexContainer {
  position:relative;
  list-style-type:none;
  width: 55%; 
  padding-bottom: calc(55% / 0.866); /* =  width /0.866 */
  overflow:hidden;
  display: inline-block;
  margin-bottom: 13%;
  cursor: pointer;
  z-index: 0;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}

.hexagon {
  background-color: #C5C5C5;
  position:absolute;
  visibility:visible;
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  z-index: 100;

  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
  -webkit-backface-visibility:hidden;
}

.hexagon-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.instagram-frame {
  position: relative;
  border-style: dotted;
  border-width: 0px; /* disabled frame border */
  border-color: #C1C1C1;
  width: 100%;
  margin: 0 auto;
  height: 70vw;
  max-width: 600px;
  max-height: 360px;
}

.instagram-frame:after {
  /*content: "";
  display: block;
  padding-bottom: 100%;*/
}

.content {
  position: absolute;
  width: 100%;
  height: calc(360px * 100%);
}

.header {
  height: 20%;
  background: #000000;
}

.schedule {
  width: 100%;
  margin: 1% 1.5%;
  column-count: 7;
  column-rule: 1px dotted #ddd;
}

.column {
  height: 100%;
}

.column .colomn-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.column .column-header p{
  color: #c1c1c1;
  display: inline-block;
  font-size: 1.5em;
  line-height: 0.2em;
}

/*.buttons {
  margin: 1% 1.5%;
  column-count: 7;
  column-rule: 1px dotted #ddd;
  /*display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
} */

.legends {
  height: calc(360px * 0.3333);
  background: #f2f2f2;
}

.instagram-footer{
  font-family: 'IdealSans';
  font-weight: 700;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  padding-top: 1em;
}

.totalSessions{
  float: left;
  text-align: left;
  margin-left: 1em;
}

.totalSessions .heading{
  margin-right: 0.25em;
}

.totalSessions .super{
  vertical-align: super;
  display: inline-block;
}

.heading {
  display: inline-block;
  font-size: 2em;
}

.weeklyActivity{
  text-align: left;
  display: inline-block;
  float: right;
  margin-right: 1em;
}
